//cosmetic style sheet

ion-title {
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    padding: 0 10px 1px;
    width: 100%;
    height: 100%;
}

.large-label{
    font-size: 1.5em;  
    font: lighter;
    font-weight:normal;
    font-family: Georgia;
   // font-weight:80;
}
.white-text {
    color: whitesmoke;
    font-family: "Muller-Light", Helvetica, sans-serif;
}

.spots{
    font-size: 0.8em;
}
.background {
    --ion-background-color: linear-gradient(#fff,85%, #3333ff);
}
.unhcolor {
    --ion-background-color: #0B3B6B;
}

.no-back{
//  --ion-background-color: 
   opacity: 0.0;
}
.bottomgold{
    border-bottom: 1.5px ridge #ffcc33;
   margin-left: 15px;
   margin-right: 15px;
}
.refresher-pulling-icon, .refresher-refreshing-icon {
    color: #ffcc33;
}
/*ion-content{
    --background: url(/assets/charlie.png);
    --background-repeat: no repeat;
    --background-position: left bottom;
    //--background-size: cover; 
    //position: absolute;
  // opacity: 0.3;        
        }*/
ion-list {
  //  --background-color: #fff;
    opacity:1.0;
//--ion-color-base: transparent !important;
}
ion-item {
    --background-color: whitesmoke;
   // opacity: 1.0;
  //  --ion-color-base: transparent !important;
}
